*.o
*testInputs
*testInputs_small
*Check
*.pyc
*.csv
*.dat
*.*~
*_out_file
*_bak
*.cilkplus_*
*.pollp*_*
*.eager_*
*.polll*_*
*.nopoll*
*.nonserialelision*
*.opencilk*
*.bz2
*.labels
*.bak
*.ll
*.s
*.log
*.serial*
testData/sequenceData/*
testData/geometryData/*
testData/graphData/*